In [9]:
import pandas as pd

In [16]:
def get_file_in_csv(path):
    f_line = "Best player price | Best model price lower | Best model price upper | Real price | Delta execution | Num of obs\n"
    data_ex = {}
    for key in f_line[:-1].split(" | "):
        data_ex[key] = []
    cnt = 0

    with open(path, "r") as file:
        for line in file:
            if line == f_line:
                df = pd.DataFrame(data_ex)
            else:
                vals = list(map(float, line.split(" ")))
                if cnt > 0:
                    df.loc[cnt] = vals
                cnt += 1
    return df

In [17]:
df = get_file_in_csv("C:\\Users\\9\\VSPython\\res.txt")

In [18]:
df

,Best player price,Best model price lower,Best model price upper,Real price,Delta execution,Num of obs
1,-2.0,-23.612881,5.322359,-2.0,1.855,3.0
2,0.0,0.000000,0.000000,-1.0,79.230,1.0
3,0.0,0.000000,0.000000,-1.0,30.408,4.0
4,-3.0,-5.905812,-0.008095,-3.0,10.189,6.0
5,0.0,0.000000,0.000000,0.0,26.057,2.0
...,...,...,...,...,...,...
473,0.0,0.000000,0.000000,0.0,16.130,9.0
474,-1.0,-0.855133,0.180399,-1.0,5.615,8.0
475,0.0,0.000000,0.000000,0.0,13.228,7.0
476,0.0,0.000000,0.000000,0.0,9.371,4.0
477,0.0,0.000000,0.000000,0.0,7.619,6.0

In [19]:
df.loc[df['Best player price'] != df['Real price']]

,Best player price,Best model price lower,Best model price upper,Real price,Delta execution,Num of obs
2,0.0,0.0,0.0,-1.0,79.230,1.0
3,0.0,0.0,0.0,-1.0,30.408,4.0
11,0.0,0.0,0.0,-1.0,100.000,0.0
18,0.0,0.0,0.0,-1.0,35.408,1.0
24,0.0,0.0,0.0,-1.0,32.303,6.0
...,...,...,...,...,...,...
465,0.0,0.0,0.0,-1.0,17.383,5.0
466,-2.0,-2.0,-2.0,-3.0,38.170,3.0
469,0.0,0.0,0.0,-1.0,15.041,7.0
470,-1.0,-1.0,-1.0,-2.0,56.381,1.0
472,0.0,0.0,0.0,-1.0,100.000,0.0

In [22]:
df1 = df.loc[(df['Best player price'] != df['Real price']) & (df['Best model price lower'] <= df['Real price']) & (df['Real price'] <= df['Best model price upper'])]

In [29]:
for index, row in df1.iterrows():
    if abs(row['Real price'] - round((row['Best model price lower'] + row['Best model price lower']) / 2)) <= abs(row['Real price'] - row['Best player price']):
        print(row, '\n')

Best player price         -1.000000
Best model price lower    -2.057866
Best model price upper     0.589609
Real price                -2.000000
Delta execution           26.056000
Num of obs                 3.000000
Name: 101, dtype: float64

Best player price         -1.000000
Best model price lower    -7.418832
Best model price upper     2.321824
Real price                -5.000000
Delta execution           26.559000
Num of obs                 5.000000
Name: 251, dtype: float64

Best player price         -1.000000
Best model price lower    -3.357920
Best model price upper     0.027488
Real price                -2.000000
Delta execution           11.821000
Num of obs                 6.000000
Name: 284, dtype: float64

Best player price         -1.000000
Best model price lower    -2.287220
Best model price upper     0.262508
Real price                -2.000000
Delta execution           33.890000
Num of obs                 4.000000
Name: 398, dtype: float64